body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contents {
    display: flex;
    flex-direction: row;
    
}

main {
    background-color: orange;
    padding: 10px;
    margin-right: 10px;
}

#sub {
    background-color: green;
    padding: 10px;
}